<template>
  <list-images :guest="!authenticated" :path-type="'my_favorites'" />
</template>

<script>
import { mapGetters } from 'vuex'
import ListImages from '~/components/ListImages'

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: 'My favorite photos' }
  },

  components: {
    ListImages
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>
