<template>
  <div>
    <div class="text-center">
      <list-images
        :guest="!authenticated"
        :path-type=" authenticated ? 'all_photos': 'guest_view'"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ListImages from '~/components/ListImages'

export default {
  layout: 'basic',

  metaInfo () {
    return { title: 'Home' }
  },

  components: {
    ListImages
  },

  data: () => ({
    title: window.config.appName
  }),

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}
</style>
