<template>
  <span class="action-img">
    <a v-if="isFavorited" href="#" class="favorite-img animated" @click.prevent="unFavorite(post)">
      <fa icon="heart" fixed-width />
    </a>
    <a v-else href="#" class="not-favorite-img animated" @click.prevent="favorite(post)">
      <fa icon="heart" fixed-width />
    </a>
  </span>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    post: {
      type: Object,
      default: null
    },
    favorited: {
      type: Boolean,
      default: false
    },
    favoritedList: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    isFavorited: ''
  }),

  computed: {
    isFavorite () {
      return this.favorited
    }
  },

  mounted () {
    this.isFavorited = !!this.isFavorite
  },

  methods: {
    favorite (post) {
      axios
        .post('api/favorite/', post)
        .then(response => (this.isFavorited = true))
        .catch(response => console.log(response.data))
    },

    unFavorite (post) {
      axios
        .delete('api/favorite/' + post.id)
        .then(response => (this.isFavorited = false))
        .catch(response => console.log(response.data))
    }
  }
}
</script>

<style scoped>
.action-img {
  float: left;
  width: 100%;
  text-align: right;
}
.action-img a {
  display: block;
  margin-top: 6px;
  color: indigo;
  opacity: 0.3;
}
.action-img .favorite-img {
  opacity: 0.9;
}
.action-img a svg {
  width: 1.4em;
  height: auto;
}
</style>
