<template>
  <div class="list-images">
    <div class="row">
      <div v-for="img in images" :key="img.id" class="col-12 col-md-3">
        <card v-if="jsonImages" :title="img.title">
          <img :src="img.thumbnailUrl">
          <div v-if="!guest && pathType" class="actions">
            <favorite
              :post="{id: img.id, thumbnail: img.thumbnailUrl, path: img.url}"
              :favorited="isFavorite(img.id)"
            />
          </div>
        </card>

        <card v-else-if="weekend || myFavoriteImages" :title="img.title">
          <img :src="img.photo_url_thumbnail">
          <div v-if="!guest && pathType" class="actions">
            <favorite
              :post="{id: img.id, thumbnail: img.thumbnailUrl, path: img.url}"
              :favorited="isFavorite(img.id)"
            />
          </div>
        </card>
        <card v-else :title="img.name">
          <img class="round-img" :src="img.photo_url">
        </card>
      </div>
      <div v-if="pageCount > 1" class="col-12">
        <BasePagination
          :current-page="currentPage"
          :page-count="pageCount"
          class="articles-list__pagination"
          :visible-pages-count="pageCount < 5? pageCount : 5 "
          @nextPage="pageChangeHandle('next');"
          @previousPage="pageChangeHandle('previous');"
          @loadPage="pageChangeHandle"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import BasePagination from './BasePagination.vue'
import Favorite from './Favorite.vue'

export default {
  name: 'ListImages',

  components: {
    BasePagination,
    Favorite
  },

  props: {
    guest: {
      type: Boolean,
      default: true
    },
    pathType: {
      type: String,
      default: ''
    }
  },

  data: () => ({
    images: [],
    currentPage: 1,
    pageCount: 0,
    path: '',
    jsonImages: true,
    weekend: false,
    myFavoriteImages: false,
    favoriteImg: false,
    favoriteImgIDs: []
  }),

  mounted () {
    switch (this.pathType) {
      case 'my_favorites':
        this.getMyFavoriteImages()
        break
      case 'all_photos':
        this.getMyFavoriteImagesID()
        this.getImages()
        break

      default:
        this.getFavoriteImages()
        break
    }
  },

  methods: {
    async getImages () {
      this.jsonImages = true
      try {
        const { data, headers } = await axios.get(
          'http://jsonplaceholder.typicode.com/photos?_page=' +
            this.currentPage +
            '&_limit=16'
        )
        this.images = data
        let totalphotos = headers['x-total-count']
        this.pageCount = Math.ceil(totalphotos / 16)
      } catch (error) {
        throw error
      }
    },

    async getMyFavoriteImages () {
      this.jsonImages = false
      this.myFavoriteImages = true
      try {
        const { data } = await axios.get(
          'api/my-favorites?page=' + this.currentPage
        )
        this.images = data.data
        let totalphotos = data.total
        this.pageCount = Math.ceil(totalphotos / 16)
      } catch (error) {
        throw error
      }
    },

    async getMyFavoriteImagesID () {
      try {
        const { data } = await axios.get('api/favorite-ids')
        this.favoriteImgIDs = data
      } catch (error) {
        throw error
      }
    },

    async getFavoriteImages () {
      this.jsonImages = false
      let path = 'api/list-users?page=' + this.currentPage
      let todayDate = new Date()
      if (todayDate.getDay() % 6 === 0) {
        this.weekend = true
        path = 'api/favorite-images?page=' + this.currentPage
      }
      try {
        const { data } = await axios.get(path)
        let totalphotos = 0
        if (this.weekend) {
          this.images = data.data
          totalphotos = data.total
        } else {
          this.images = data
        }
        this.pageCount = Math.ceil(totalphotos / 16)
      } catch (error) {
        throw error
      }
    },

    async pageChangeHandle (value) {
      switch (value) {
        case 'next':
          this.currentPage += 1
          break
        case 'previous':
          this.currentPage -= 1
          break
        default:
          this.currentPage = value
          break
      }

      switch (this.pathType) {
        case 'my_favorites':
          this.getMyFavoriteImages()
          break
        case 'all_photos':
          this.getImages()
          break

        default:
          this.getFavoriteImages()
          break
      }
    },

    isFavorite (id) {
      let _vm = this
      if (_vm.pathType === 'my_favorites') {
        return true
      }

      let favoriteIds = _vm.favoriteImgIDs
      return favoriteIds.includes(id)
    }
  }
}
</script>

<style scoped>
.list-images {
  padding: 20px 0;
  width: 100%;
}
.card {
  margin-bottom: 30px;
}
img {
  width: 100%;
  height: auto;
}
</style>
