<template>
  <div class="main-layout">
    <navbar />
    <div class="container">
      <child />
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
export default {
  name: 'BasicLayout',

  components: {
    Navbar
  }
}
</script>

<style lang="scss">
.basic-layout {
  color: #636b6f;
  height: 100vh;
  font-weight: 100;
  position: relative;

  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
</style>
